.headerLine {
  height: 1.25rem;
  background: url(../images/headBackground.png) no-repeat;
  background-size: 100% 100%;
}
.headerLine .center-content {
  display: flex;
  align-items: center;
}
.headerLine .center-content h1 {
  font-size: 0.475rem;
  color: pink;
  text-align: center;
  line-height: 1rem;
  margin-left: 9.4rem;
}
.headerLine .center-content p {
  line-height: 0.9375rem;
  color: pink;
  font-size: 0.25rem;
  margin-left: 7.5rem;
}
