.midBox {
  flex: 4;
  margin: 0.125rem 0.1875rem;
}
.number {
  background: rgba(101, 132, 226, 0.1);
  padding: 0.1875rem;
}
.number .numberHeader {
  position: relative;
  border: 1px solid rgba(25, 186, 139, 0.17);
}
.number .numberHeader::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 30px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.number .numberHeader::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 30px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
}
.number .numberHeader ul {
  display: flex;
}
.number .numberHeader ul li {
  position: relative;
  flex: 1;
  line-height: 1rem;
  font-size: 0.875rem;
  color: #ffeb7b;
  text-align: center;
}
.number .numberHeader ul li::after {
  content: '';
  position: absolute;
  top: 25%;
  right: 0;
  height: 50%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.number .numberBody ul {
  display: flex;
}
.number .numberBody ul li {
  flex: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.225rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-top: 0.125rem;
}
